//include  _icons
doctype html 
html
	head
		title=title
		//link(rel='stylesheet', href='/styles/style.css')
		meta(name='viewport' content='windth=device-width, initial-scale=1')
	body
		h1 debug link page
		br
		a(href='Portal/index') Portal
		br
		a(href='claim_management/index') Claim Management
		br
		a(href='user_app/index') User App
	//script(src='js/script.js')