//include  _icons
doctype html 
html
	head
		title=title
		//link(rel='stylesheet', href='/styles/style.css')
		meta(name='viewport' content='windth=device-width, initial-scale=1')
	body
		h1 My test of pug
	//script(src='js/script.js')