doctype html
head
  title UserApp
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous')
  link(href='../phone/fakephone.css' rel='stylesheet' type='text/css')
  script(type='text/javascript').
    if (foo) bar(1 + 5)
.faker-phone
  .faker-phone--screen
    // Place your content here 
    h1(style='text-align: center') Create new identity
    form(action='/user_app/form-create-identity')
        input(type='text' name='name' placeholder='Identity name' )   
        .grade-type
        button(type='submit' href='/user_app/select_identity') Create identity and sign consent