doctype html
head
  title UserApp
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous')
  link(href='../phone/fakephone.css' rel='stylesheet' type='text/css')
  script(type='text/javascript').
    if (foo) bar(1 + 5)
.faker-phone
  .faker-phone--screen
    // Place your content here 
    h1 Elia Group request verification for
    form(action='/')
        .info
        .info-item
            label.icon(for='name')
                i.fas.fa-user
            input#name(type='text' name='name' placeholder='Your name' required='')
        .info-item
            label.icon(for='age')
                i.fas.fa-calendar
            input#age(type='text' name='age' placeholder='Your age' required='')
        .info-item
            label.icon(for='email')
                i.fas.fa-envelope
            input#email(type='text' name='email' placeholder='Your email' required='')
        .info-item
            label.icon(for='phone')
                i.fas.fa-phone
            input#phone(type='text' name='phone' placeholder='Your phone' required='')
        .grade-type
        button(type='submit' href='/') Approve