doctype html
head
  title UserApp
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous')
  link(href='../phone/fakephone.css' rel='stylesheet' type='text/css')
  script(type='text/javascript').
    if (foo) bar(1 + 5)
.faker-phone
  .faker-phone--screen
    // Place your content here 
    h1 Elia Group request verification
    form(action='issue_verifiable_credential/kla/consent')
        .grade-type
        h3 Select an identity from your wallet
        each identity in identities
            div
                input(id='radio'+identity type='radio' value=identity name='identity')
                label.radio(for='radio'+identity) #{identity}       
    button(type='submit') Approve
    br
    br
    a(href="create_identity")
      button(type='button') Create a new identity